{% extends 'PetramasMainBundle::layout.html.twig' %}

{% block content -%}
                <h1>
                    Pedidos
                    <a class="btn btn-primary entity pull-right" href="{{ path('pedido_new') }}" rel="tooltip" title="Nuevo">
                        <span class="glyphicon glyphicon-file"></span>
                    </a>
                </h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Cliente</th>
                                <th>Factura</th>
                                <th>Fecha de programacion</th>
                                <th>Estado</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities -%}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.cliente.razonsocial }}</td>
                                <td>{{ entity.factura.codigo }}</td>
                                <td>{% if entity.fechaProgramacion %}{{ entity.fechaProgramacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>
                                    {% if entity.estado.nombre is defined %}
                                    {{ entity.estado.nombre }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-info btn-xs entity" href="{{ path('pedido_show', { 'id': entity.id }) }}" rel="tooltip" title="Detalle"><span class="glyphicon glyphicon-eye-open"></span></a>
                                    <a class="btn btn-warning btn-xs entity" href="{{ path('pedido_edit', { 'id': entity.id }) }}" rel="tooltip" title="Editar"><span class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                            </tr>
                            {% endfor -%}
                        </tbody>
                    </table>
                </div>
{% endblock %}
