{% extends 'PetramasMainBundle::layout.html.twig' %}

{% block content -%}
                <h1>Pedido</h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <tbody>
                            <tr>
                                <th>Cliente</th>
                                <td>{{ entity.cliente.razonsocial }}</td>
                            </tr>
                            <tr>
                                <th>Factura</th>
                                <td>{{ entity.factura.codigo }}</td>
                            </tr>
                            <tr>
                                <th>Fecha de programación</th>
                                <td>{{ entity.fechaProgramacion|date('Y-m-d H:i:s') }}</td>
                            </tr>
                            {% if entity.estado.nombre is defined %}
                            <tr>
                                <th>Estado</th>
                                <td>{{ entity.estado.nombre }}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-info pull-right" href="{{ path('pedido') }}">Volver</a>
                    <a class="btn btn-warning pull-right" href="{{ path('pedido_edit', { 'id': entity.id }) }}">Editar</a>
                    {{ form(delete_form) }}
                    <a class="btn btn-default pull-right" href="{{ path('pedidodetalle_new', { 'pedido_id': entity.id }) }}">Agregar detalle</a>
                    {% endif %}
                </div>
                {% if pedido_detalle is not empty %}
                <h2>Detalles</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Material</th>
                                <th>Cantidad</th>
                                <th>Importe</th>
                                {% if is_granted('ROLE_ADMIN') %}
                                <th>Acciones</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for detalle in pedido_detalle %}
                            <tr>                           
                                <td>{{ detalle.material.nombre }}</td>
                                <td>{{ detalle.cantidad }}</td>
                                <td>{{ detalle.importe }}</td>
                                {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="btn btn-warning btn-xs entity" href="{{ path('pedidodetalle_edit', { 'id': detalle.id }) }}" rel="tooltip" title="Editar"><span class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
{% endblock %}
