{% extends 'PetramasMainBundle::layout.html.twig' %}

{% block content -%}
                <h1>Factura</h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <tbody>
                            <tr>
                                <th>Codigo</th>
                                <td>{{ entity.codigo }}</td>
                            </tr>
                            <tr>
                                <th>Cliente</th>
                                <td>{{ entity.cliente.razonsocial }}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>{{ entity.total }}</td>
                            </tr>
                            <tr>
                                <th>Fecha</th>
                                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-info pull-right" href="{{ path('factura') }}">Volver</a>
                    <a class="btn btn-warning pull-right" href="{{ path('factura_edit', { 'id': entity.id }) }}">Editar</a>
                    {{ form(delete_form) }}
                </div>
{% endblock %}
