{% extends 'PetramasMainBundle::layout.html.twig' %}

{% block content -%}
                <h1>PedidoDetalle</h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <tbody>
                            <tr>
                                <th>Material</th>
                                <td>{{ entity.material.nombre }}</td>
                            </tr>
                            <tr>
                                <th>Cantidad</th>
                                <td>{{ entity.cantidad }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-info pull-right" href="{{ path('pedido') }}">Volver</a>
                    <a class="btn btn-warning pull-right" href="{{ path('pedidodetalle_edit', { 'id': entity.id }) }}">Editar</a>
                    {{ form(delete_form) }}
                </div>
{% endblock %}
