{% extends 'PetramasMainBundle::layout.html.twig' %}

{% block content -%}
<h1>Indicador</h1>
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Estandar</th>
            <td>{{ entity.estandar }}</td>
        </tr>
        <tr>
            <th>Inferior</th>
            <td>{{ entity.inferior }}</td>
        </tr>
        <tr>
            <th>Superior</th>
            <td>{{ entity.superior }}</td>
        </tr>
        <tr>
            <th>Valor</th>
            <td>{{ entity.valor }}</td>
        </tr>
        <tr>
            <th>Observacion</th>
            <td>{{ entity.observacion }}</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-info pull-right" href="{{ path('indicador') }}">Volver</a>
<a class="btn btn-warning pull-right" href="{{ path('indicador_edit', { 'id': entity.id }) }}">Editar</a>
{{ form(delete_form) }}
{% endblock %}
