{% extends 'PetramasMainBundle::layout.html.twig' %}

{% block content %}
<h4>Editar Boleta Recepcion</h4>
{{ form_start(edit_form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
    {{ form_errors(edit_form) }}
    <div class="form-group{% if edit_form.fechaIngreso.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(edit_form.fechaIngreso, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(edit_form.fechaIngreso, {'attr': {'class': 'form-control'}}) }}
            {% if edit_form.fechaIngreso.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ edit_form.fechaIngreso.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if edit_form.fechaSalida.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(edit_form.fechaSalida, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(edit_form.fechaSalida, {'attr': {'class': 'form-control'}}) }}
            {% if edit_form.fechaSalida.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ edit_form.fechaSalida.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if edit_form.total.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(edit_form.total, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(edit_form.total, {'attr': {'class': 'form-control'}}) }}
            {% if edit_form.total.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ edit_form.total.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if edit_form.tara.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(edit_form.tara, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(edit_form.tara, {'attr': {'class': 'form-control'}}) }}
            {% if edit_form.tara.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ edit_form.tara.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if edit_form.neto.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(edit_form.neto, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(edit_form.neto, {'attr': {'class': 'form-control'}}) }}
            {% if edit_form.neto.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ edit_form.neto.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if edit_form.cliente.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(edit_form.cliente, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(edit_form.cliente, {'attr': {'class': 'form-control'}}) }}
            {% if edit_form.cliente.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ edit_form.cliente.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if edit_form.unidad.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(edit_form.unidad, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(edit_form.unidad, {'attr': {'class': 'form-control'}}) }}
            {% if edit_form.unidad.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ edit_form.unidad.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if edit_form.estado.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(edit_form.estado, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(edit_form.estado, {'attr': {'class': 'form-control'}}) }}
            {% if edit_form.estado.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ edit_form.estado.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
{{ form_end(edit_form) }}
{{ form(delete_form) }}
<a class="btn btn-info pull-right" href="{{ path('boletarecepcion') }}">Volver</a>
{% endblock %}