{% extends 'PetramasMainBundle::layout.html.twig' %}

{% block content -%}
                <h1>BoletaRecepcion</h1>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-condensed">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ entity.id }}</td>
                            </tr>
                            <tr>
                                <th>Fechaingreso</th>
                                <td>{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}</td>
                            </tr>
                            <tr>
                                <th>Fechasalida</th>
                                <td>{{ entity.fechaSalida|date('Y-m-d H:i:s') }}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>{{ entity.total }}</td>
                            </tr>
                            <tr>
                                <th>Tara</th>
                                <td>{{ entity.tara }}</td>
                            </tr>
                            <tr>
                                <th>Neto</th>
                                <td>{{ entity.neto }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-info pull-right" href="{{ path('boletarecepcion') }}">Volver</a>
                    <a class="btn btn-warning pull-right" href="{{ path('boletarecepcion_edit', { 'id': entity.id }) }}">Editar</a>
                    {{ form(delete_form) }}
                </div>
{% endblock %}
