{% extends 'PetramasMainBundle::layout.html.twig' %}

{% block content -%}
<h1>LiquidacionRecepcion</h1>
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Fechaliquidacion</th>
            <td>{{ entity.fechaLiquidacion|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Fechainicio</th>
            <td>{{ entity.fechaInicio|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Fechafin</th>
            <td>{{ entity.fechaFin|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Importe</th>
            <td>{{ entity.importe }}</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-info pull-right" href="{{ path('liquidacionrecepcion') }}">Volver</a>
<a class="btn btn-warning pull-right" href="{{ path('liquidacionrecepcion_edit', { 'id': entity.id }) }}">Editar</a>
{{ form(delete_form) }}
{% endblock %}
