{% extends '::base.html.twig' %}

{% block stylesheets %}
{% stylesheets output='css/main.css' filter='cssrewrite' debug=false
'bundles/petramasmain/lib/bootstrap/css/bootstrap.min.css'
'bundles/petramasmain/css/styles.css' -%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block body -%}
            {% for type, flashMessage in app.session.flashbag.all %}
            <div class="alert alert-{{ type }} fade in">
                <button class="close" data-dismiss="alert" type="button">×</button>
                <strong>{{ flashMessage.title }}</strong>
                {{ flashMessage.message }}
            </div>
            {% endfor %}
            <div id="petramasModal" class="modal fade"></div>
            <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('petramas_main_default_index') }}" title="Petramas" alt="Petramas">
                            {%- image '@PetramasMainBundle/Resources/public/images/logo.png' -%}
                            <img src="{{ asset_url }}" alt="Petramas Logo" />
                            {%- endimage -%}
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestión<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('cliente') }}">Cliente</a></li>
                                    <li><a href="{{ path('pedido') }}">Pedido</a></li>
                                    <li><a href="{{ path('factura') }}">Factura</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('incidencia') }}">Incidencia</a></li>
                                    <li><a href="{{ path('incidenciaresolucion') }}">Incidencia Resolución</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('liquidacionmaterial') }}">Liquidación Material</a></li>
                                    <li><a href="{{ path('liquidacionrecepcion') }}">Liquidación Recepción</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Seguimiento<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('boletamaterial') }}">Boleta Material</a></li>
                                    <li><a href="{{ path('boletarecepcion') }}">Boleta Recepción</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('liquidacionmaterialdetalle') }}">Liquidación Material Detalle</a></li>
                                    <li><a href="{{ path('pedidodetalle') }}">Pedido Detalle</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('recepcionmaterial') }}">Recepción Material</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('estado') }}">Estado</a></li>
                                    <li><a href="{{ path('material') }}">Material</a></li>
                                    <li><a href="{{ path('indicador') }}">Indicador</a></li>
                                    <li><a href="{{ path('movimientoindicador') }}">Movimiento Indicador</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('tope') }}">Tope</a></li>
                                    <li><a href="{{ path('responsable') }}">Responsable</a></li>
                                    <li><a href="{{ path('tarifa') }}">Tarifa</a></li>
                                    <li><a href="{{ path('tipoincidencia') }}">Tipo Incidencia</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('unidad') }}">Unidad</a></li>
                                    <li><a href="{{ path('unidadmedida') }}">Unidad Medida</a></li>
                                    <li><a href="{{ path('usuario') }}">Usuario</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="container">
                {% block content %}{% endblock %}
            </div>
{% endblock %}

{% block javascripts %}
{% javascripts output='js/main.js' debug=false
'@PetramasMainBundle/Resources/public/js/jquery.js'
'@PetramasMainBundle/Resources/public/lib/bootstrap/js/bootstrap.min.js'
'@PetramasMainBundle/Resources/public/js/jquery.mustache.js'
'@PetramasMainBundle/Resources/public/js/scripts.js' -%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}