{% extends '::base.html.twig' %}

{% block stylesheets %}
{% stylesheets output='css/main.css' filter='cssrewrite' debug=false
'bundles/petramasmain/lib/bootstrap/css/bootstrap.min.css'
'bundles/petramasmain/css/bootstrap-datetimepicker.min.css'
'bundles/petramasmain/css/styles.css' -%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% stylesheets output='lib/bootstrap/fonts/glyphicons-halflings-regular.ttf'
'bundles/petramas/lib/bootstrap/fonts/glyphicons-halflings-regular.ttf' -%}
{% endstylesheets %}
{% stylesheets output='lib/bootstrap/fonts/glyphicons-halflings-regular.woff'
'bundles/petramas/lib/bootstrap/fonts/glyphicons-halflings-regular.woff' -%}
{% endstylesheets %}
{% endblock %}

{% block body -%}
            {% for type, flashMessage in app.session.flashbag.all() %}
            <div class="alert alert-{{ type }} fade in">
                <button class="close" data-dismiss="alert" type="button">×</button>
                {% if flashMessage.title is defined %}
                <strong>{{ flashMessage.title }}</strong>
                {{ flashMessage.message }}
                {% else %}
                {{ type }}
                {% endif %}
            </div>
            {% endfor %}
            <div id="flash_message" class="alert hidden">
                <strong id="flash_title"></strong>
            </div>
            <div id="petramasModal" class="modal fade"></div>
            <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('petramas_main_default_index') }}" title="Petramas" alt="Petramas">
                            {%- image '@PetramasMainBundle/Resources/public/images/logo.png' -%}
                            <img src="{{ asset_url }}" alt="Petramas Logo" />
                            {%- endimage -%}
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Menú<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Recepción <span class="right-caret"></span></a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li class="disabled"><a href="#">Verificación de ingresos</a></li>
                                            <li><a href="{{ path('recepcionmaterial') }}">Registrar ingreso de material</a></li>
                                            <li class="disabled"><a href="#">Liquidación de servicios</a></li>
                                            <li class="disabled"><a href="#">Aceptación de liquidación</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Disposición final <span class="right-caret"></span></a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li class="disabled"><a href="#">Programación de horas</a></li>
                                            <li class="disabled"><a href="#">Reasignación de plataforma</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Monitoreo de servicios <span class="right-caret"></span></a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li><a href="{{ path('incidencia') }}">Incidencias</a></li>
                                            <li><a href="{{ path('incidenciaresolucion') }}">Resolución de incidencias</a></li>
                                            <li class="disabled"><a href="#">Monitoreo de indicadores</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Venta de materiales <span class="right-caret"></span></a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li><a href="{{ path('pedido') }}">Pedidos</a></li>
                                            <li><a href="{{ path('pedidodetalle') }}">Detalle de pedidos</a></li>
                                            <li class="disabled"><a href="#">Registrar salidas</a></li>
                                            <li class="disabled"><a href="#">Stocks de materiales</a></li>
                                            <li class="disabled"><a href="#">Proyección de materiales</a></li>
                                            <li><a href="{{ path('liquidacionmaterial') }}">Liquidación de materiales</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Admin <span class="right-caret"></span></a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li><a href="{{ path('cliente') }}">Cliente</a></li>
                                            <li><a href="{{ path('factura') }}">Factura</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ path('liquidacionmaterialdetalle') }}">Liquidación Material Detalle</a></li>
                                            <li><a href="{{ path('liquidacionrecepcion') }}">Liquidación Recepción</a></li>
                                            <li><a href="{{ path('boletamaterial') }}">Boleta Material</a></li>
                                            <li><a href="{{ path('boletarecepcion') }}">Boleta Recepción</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ path('estado') }}">Estado</a></li>
                                            <li><a href="{{ path('material') }}">Material</a></li>
                                            <li><a href="{{ path('indicador') }}">Indicador</a></li>
                                            <li><a href="{{ path('movimientoindicador') }}">Movimiento Indicador</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ path('tope') }}">Tope</a></li>
                                            <li><a href="{{ path('responsable') }}">Responsable</a></li>
                                            <li><a href="{{ path('tarifa') }}">Tarifa</a></li>
                                            <li><a href="{{ path('tipoincidencia') }}">Tipo Incidencia</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ path('unidad') }}">Unidad</a></li>
                                            <li><a href="{{ path('unidadmedida') }}">Unidad Medida</a></li>
                                            <li><a href="{{ path('usuario') }}">Usuario</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.nombre }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_profile_show') }}">Perfil</a></li>
                                    <li><a href="{{ path('fos_user_change_password') }}">Cambiar contraseña</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                </ul>
                            </li>
                        </ul>
                        {% else %}
                            {{ render(controller('FOSUserBundle:Security:login')) }}
                        {% endif %}
                    </div>
                </div>
            </header>
            <div class="container">
                {% block content %}{% endblock %}
            </div>
{% endblock %}

{% block javascripts %}
{% javascripts output='js/main.js' debug=false
'@PetramasMainBundle/Resources/public/js/jquery.js'
'@PetramasMainBundle/Resources/public/lib/bootstrap/js/bootstrap.min.js'
'@PetramasMainBundle/Resources/public/js/jquery.mustache.js'
'@PetramasMainBundle/Resources/public/lib/moment.js'
'@PetramasMainBundle/Resources/public/lib/datetimepicker/bootstrap-datetimepicker.js'
'@PetramasMainBundle/Resources/public/lib/datetimepicker/locales/bootstrap-datetimepicker.es.js'
'@PetramasMainBundle/Resources/public/js/jquery.plugins.js'
'@PetramasMainBundle/Resources/public/js/scripts.js' -%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}