{% extends 'PetramasMainBundle::layout.html.twig' %}

{% block content %}
<h4>Nueva Tarifa</h4>
{{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form'}}) }}
    {{ form_errors(form) }}
    <div class="form-group{% if form.nombre.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(form.nombre, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
            {% if form.nombre.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.nombre.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
    <div class="form-group{% if form.valor.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(form.valor, null, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.valor, {'attr': {'class': 'form-control'}}) }}
            {% if form.valor.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.valor.vars.errors[0].message }}
            </span>
            {% endif %}
        </div>
    </div>
{{ form_end(form) }}
<a class="btn btn-info pull-right" href="{{ path('tarifa') }}">Volver</a>
{% endblock %}