{% extends 'PetramasMainBundle::layout.html.twig' %}

{% block content -%}
<h1>Tarifa</h1>
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Valor</th>
            <td>{{ entity.valor }}</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-info pull-right" href="{{ path('tarifa') }}">Volver</a>
<a class="btn btn-warning pull-right" href="{{ path('tarifa_edit', { 'id': entity.id }) }}">Editar</a>
{{ form(delete_form) }}
{% endblock %}
