{% extends 'PetramasMainBundle::layout.html.twig' %}

{% block content -%}
<h1>Tope</h1>
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Descripcion</th>
            <td>{{ entity.descripcion }}</td>
        </tr>
        <tr>
            <th>Acumulado</th>
            <td>{{ entity.acumulado }}</td>
        </tr>
        <tr>
            <th>Previo</th>
            <td>{{ entity.previo }}</td>
        </tr>
        <tr>
            <th>Fecharegistro</th>
            <td>{{ entity.fechaRegistro|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-info pull-right" href="{{ path('tope') }}">Volver</a>
<a class="btn btn-warning pull-right" href="{{ path('tope_edit', { 'id': entity.id }) }}">Editar</a>
{{ form(delete_form) }}
{% endblock %}
